.loader {
  z-index: 10;
  height: 125vh;
  width: 100vw;
  position: absolute;
  background-color: #131313;
  transform: translateY(0);
  transition: transform 1.5s cubic-bezier(1,-0.17, 0.94, 0.88);
}

.logo {
  font-size: 150px;
  color: var(--accentGreen);
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.numbers {
  font-size: 100px;
  position: absolute;
  bottom: 35vh;
  left: 10%;
  color: var(--accentGreen);
  font-family: "Space Mono";
}

@media (max-width: 500px) {
  .loader {
    height: 110vh;
    transform: translateY(-10vh);
  }
}