.project {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: start;
}

.projectHeader {
  width: 70%;
}

.projectInfo {
  height: 60%;
  width: 64%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 8vw;
}

.buttonWrapper {
  margin: 1rem 0 2rem 0;
}

.gifWrapper {
  width: 70%;
  margin-left: 9%;
}

@media (max-width: 1250px) {
  .project {
    flex-direction: column-reverse;
    justify-content: center;
    transform: translateY(-10%);
  }
  .gifWrapper {
    margin: 0 auto;
    /* transform: translateY(-5%); */
  }
  .projectInfo {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    align-items: center;
  }
  .projectHeader {
    width: 95%;
  }
  .projectHeader > * {
    line-height: 2rem;
  }
}

@media (max-width: 400px) {
  .buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}