:root {
  --background: #151317;
  --text: #ECECEC;
  --accentGreen: #0BBF9B;
}

@font-face {
  font-family: "Whyth Inktrap";
  src: url(../../public/fonts/WhyteInktrap-Book.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../../public/fonts/Inter-VariableFont_slnt,wght.ttf);
}

@font-face {
  font-family: "Space Mono";
  src: url(../../public/fonts/SpaceMono-Regular.ttf);
}

html, body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
