.navbar {
  position: fixed;
  width: 94vw;
  height: 10vh;
  top: 0;
  padding: 0.5% 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  transition: transform .3s;
}

.options {
  display: relative;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  margin-left: 1.5vw;
}

/* .logo > path {
  fill: var(--highlightedGreen);
  stroke: var(--highlightedGreen);
} */

.hamburger {
  position: absolute;
  top: 25%;
  right: 7.5%;
  width: 2.5rem;
  height: 2.5rem;
  display: none;
}

.close {
  position: absolute;
  top: -0.5rem;
  right: 0rem;
  width: 2rem;
  height: 2rem;
  display: none;
}

.navButton {
  color: var(--accentGreen);
  text-decoration: none;
  font-family: "Inter", sans-serif;
  margin-right: 2rem;
  cursor: pointer;
  font-weight: 400;
  transition: .5s;
}

.navButton:hover {
  color: var(--highlightedGreen);
}

.highlighted {
  color: var(--highlightedGreen);
  font-weight: 700;
}

/* TODO: Make logo highlight */

.highlightedLogo > svg > path {
  fill: var(--highlightedGreen);
  stroke: var(--highlightedGreen);
}

@media (max-width: 600px) {
  .options {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
    background-color: #1C1C1C;
    border-bottom-left-radius: 20px;
  }
  .options > * {
    margin: 1.1rem;
  }
  .hamburger {
    display: block;
  }
  .close {
    display: block;
  }
}
