.blur {
  position: sticky;
  top: 15%;
  height: 39rem;
  width: 80rem;
  flex-shrink: 0;
  border-radius: 78.66519rem;
  background: radial-gradient(82.01% 70.88% at 38.11% 44.97%, 
    rgba(11, 191, 155, 0.23) 37.50%, 
    rgba(90, 11, 191, 0.45) 55.21%, 
    rgba(191, 11, 54, 0.45) 100%);
  mix-blend-mode: difference;
  filter: blur(233.5px);
  overflow-x: hidden;
}